## SQL queries

#### list all available employees

In [ ]:
select empid, emptype
from employees2
where emptype='$emptype'
and empid not in
    (select empid from (select table2.empid, table2.date from (select empid
        from employees2
        where emptype='$emptype') as table1
    inner join
    (select *
        from daysoff) as table2
    on table1.empid = table2.empid
    where date = '$date') as request_day_off)
and empid not in
    (select empid from (select table2.empid, table2.date from (select empid
        from employees2
        where emptype='$emptype') as table1
    inner join
    (select *
        from schedule2) as table2
    on table1.empid = table2.empid
    where date = '$date') as already_scheduled)

#### schedule avaiable employee

In [ ]:
insert into schedule2 (dept, date, shift, empid)
             values ('$dept', '$date', '$shift', $empid);

#### update the department needs table

In [ ]:
update department_need
set number_of_employees = number_of_employees - 1
where emptype='$emptype'
and date='$date'
and period='$shift'
and department_name='$dept'

# or delete if the number of employees needed for the department is 0 after updating      
delete from department_need
where emptype='$emptype'
and date='$date'
and period='$shift'
and department_name='$dept'

## php code

### list all available employees (not scheduled or requested any day off)

- input
    - Date
    - Employee Type
- output
    - a list of all available employees of the assigned employee type on that assigned date

In [ ]:
<?php
/**
 * Created by PhpStorm.
 * User: karen
 * Date: 11/14/18
 * Time: 4:41 PM
 */


require_once('../connect/connect.php');
require_once('../helper/schedulehelper.php');


function check_available($con)
{
    if (isset($_POST["date"],
              $_POST['emptype'])) {
        $date = $_POST['date'];
        $emptype = $_POST['emptype'];

        $query = "
            select empid, emptype
                from employees2
                where emptype='$emptype'
                and empid not in
                    (select empid from (select table2.empid, table2.date from (select empid
                                                            from employees2
                                                            where emptype='$emptype') as table1
                                                             inner join
                                                               (select *
                                                                from daysoff) as table2
                                                               on table1.empid = table2.empid
                     where date = '$date') as request_day_off)
                and empid not in
                    (select empid from (select table2.empid, table2.date from (select empid
                                                            from employees2
                                                            where emptype='$emptype') as table1
                                                             inner join
                                                               (select *
                                                                from schedule2) as table2
                                                               on table1.empid = table2.empid
                     where date = '$date') as already_scheduled)
        ";

        if (!($result = mysqli_query($con, $query))) {
            $msg = 'MySQL error #' . mysqli_connect_errno() . ": " . mysqli_connect_error();

            printf($msg, __FILE__, __LINE__);

        } else if (0 == mysqli_num_rows($result)) {
            echo "<center><h3>There're no $emptype employees available on $date!</h3></center><br>";
            return "";
        } else {
            echo "<br><br>";
            echo "<center><h4>The available list of $emptype employees on $date</h4><br><br>";
            echo "<table class='table table-striped' border=1>";
            echo "<tr>";
            $i = 0;
            $col_name = array();
            while ($i < mysqli_num_fields($result)) {
                $meta = mysqli_fetch_field_direct($result, $i);
                echo '<td>' . $meta->name . '</td>';
                $i = $i + 1;
                array_push($col_name, $meta->name);
            }
            echo '<td>Date</td>';
            echo '<td>Department</td>';
            echo '<td>Shift</td>';
            echo '<td>Schedule</td>';


            while ($row = mysqli_fetch_assoc($result)) {
                echo "<tr>\n";
                $index = 0;
                echo "<form class='post_form' action='../tasks/add_schedule.php' method='post'>";
                foreach ($row as $cell) {
                    echo "<td><input style='width: 100px' type='text' name='$col_name[$index]' value='$cell'></td>";
                    $index++;
                }
                echo "<td><input style='width: 100px' type='text' name='date' value='$date'></td>";
                echo '<td><select name=\'dept\'>'.DepartmentNeedList($con).'</select></td>';
                echo '<td><select name=\'shift\'>'.ShiftList($con).'</select></td>';
                echo "<td><input type='submit' value='schedule'></td>";
                echo "</tr></form>\n";
            }

            echo "</table><br><br><br>";
        }
    }
}


check_available($con);

### schedule someone from the available employees list and decrement the needs table for that dept/date/shift/emptype

In [ ]:
<?php
/**
 * Created by PhpStorm.
 * User: karen
 * Date: 11/14/18
 * Time: 7:31 PM
 */
require_once('../view/navbar.php');
require_once('../connect/connect.php');
require_once('../helper/schedulehelper.php');


function delete_from_needs($con)
{
    if (isset(
        $_POST['empid'],
        $_POST["date"],
        $_POST['emptype'],
        $_POST['dept'],
        $_POST['shift'])) {

        $dept = $_POST['dept'];
        $date = $_POST['date'];
        $shift = $_POST['shift'];
        $emptype = $_POST['emptype'];

        $query = "
            update department_need
            set number_of_employees = number_of_employees - 1
            where emptype='$emptype'
            and date='$date'
            and period='$shift'
            and department_name='$dept'
        ";
        $result = mysqli_query($con, $query);
        if (!($result)) {
            $msg = 'MySQL error #' . mysqli_connect_errno() . ": " . mysqli_connect_error();
            printf($msg, __FILE__, __LINE__);
        }else{
            echo '<br><br><h3><center>The number of employees needed for department '. $dept .' is updated.</center></h3><br><br>';
        }

        $query = "
            select number_of_employees
                from department_need
                where emptype='$emptype'
                  and date='$date'
                  and period='$shift'
                  and department_name='$dept'
        ";

        $result = mysqli_query($con, $query);
        if (!($result)) {
            $msg = 'MySQL error #' . mysqli_connect_errno() . ": " . mysqli_connect_error();
            printf($msg, __FILE__, __LINE__);
        }else {
            $num_emp = mysqli_fetch_assoc($result);

            if ($num_emp['number_of_employees'] == 0) {
                $query = "
                delete from department_need
                    where emptype='$emptype'
                      and date='$date'
                      and period='$shift'
                      and department_name='$dept'
                  ";
                $result = mysqli_query($con, $query);
                if (!($result)) {
                    $msg = 'MySQL error #' . mysqli_connect_errno() . ": " . mysqli_connect_error();
                    printf($msg, __FILE__, __LINE__);
                }
            }
        }

    }
}


function schedule_by_emptype($con)
{
    if (isset(
        $_POST['empid'],
        $_POST["date"],
        $_POST['emptype'],
        $_POST['dept'],
        $_POST['shift'])) {

        $emptype = $_POST['emptype'];
        $empid = $_POST['empid'];
        $dept = $_POST['dept'];
        $date = $_POST['date'];
        $shift = $_POST['shift'];

        $query = "
            select *
                from department_need
                where emptype='$emptype'
                  and date='$date'
                  and period='$shift'
                  and department_name='$dept'
        ";
        $result = mysqli_query($con, $query);
        if (!($result)) {
            $msg = 'MySQL error #' . mysqli_connect_errno() . ": " . mysqli_connect_error();
            printf($msg, __FILE__, __LINE__);
        }else {
            if (0 == mysqli_num_rows($result)) {
                echo '<br><br><h3><center>No ' . $emptype . ' employees are needed for department ' . $dept . ' from ' . $shift . ' on ' . $date . '.</center></h3><br><br>';
            } else {
                $query = "
            insert into schedule2 (dept, date, shift, empid)
            values ('$dept', '$date', '$shift', $empid);
                ";

                $result = mysqli_query($con, $query);
                if (!($result)) {
                    $msg = 'MySQL error #' . mysqli_connect_errno() . ": " . mysqli_connect_error();
                    printf($msg, __FILE__, __LINE__);
                } else {
                    $query = "SELECT firstname, lastname
                  FROM employees2
                  WHERE empid = '$empid'";
                    $result = mysqli_query($con, $query);
                    $row = mysqli_fetch_assoc($result);
                    $firstname = $row['firstname'];
                    $lastname = $row['lastname'];
                    echo '<br><br><h3><center><i>' . $firstname . ' ' . $lastname . '</i> (id: ' . $empid . ') is successfully scheduled
                for department ' . $dept . ' from ' . $shift . ' on date ' . $date . '</center></h3><br><br>';
                }

                delete_from_needs($con);
            }
        }
    }
}

schedule_by_emptype($con);

?>

<script>
    setTimeout(function () {
        window.location.href = '../view/schedule_emptype_display.php';
    }, 5000);
</script>

## database design

![](er.png)

## table description

![](1.png)


![](2.png)


![](3.png)

## test cases [(click for demo)]()

#### Date: Dec 24 2018; Emptype: LPN; Department: SUR; Shift: 3PM-11PM



![](4.png)


![](5.png)

![](6.png)


pick an employee to schedule for a shift in a department  

![](7.png)

![](8.png)

and after being scheduled, the employee (id:1) will no longer appear on the available list  

![](9.png)

the scheduling information will be added to the schedule table:


![](15.png)

#### Date: Jan 06 2018, Emptype: RN; Department: MAT; Shift: 11AM-7PM


![](16.png)
![](18.png)
![](19.png)
![](20.png)


pick an employee to schedule for a shift in a department
![](21.png)

![](22.png)

and after being scheduled, the employee (id:99) will no longer appear on the available list
![](23.png)

the scheduling information will be added to the schedule table:

![](24.png)

#### Date: Dec 30 2018, Emptype: ULTRA;  Department: ICU; Shift: 3PM-11PM



![](10.png)

![](11.png)


pick an employee to schedule for a shift in a department  

![](12.png)

__Fail to schedule since the assigned department has no need for that employee type on the assigned date__

![](13.png)

So there will no changes made to the list of available employees:


![](14.png)