### PHP Test Code [(demo link here)](http://cs431project-jxy225.herokuapp.com/view/main.php)

In [11]:
<link rel="stylesheet" type="text/css" HREF="../css/style.css">

<?php
/**
 * Created by PhpStorm.
 * User: karen
 * Date: 10/27/18
 * Time: 12:00 PM
 */

require_once('../connect/connect.php');
require_once('../helper/schedulehelper.php');


function insert($con, $dept, $date, $empid, $start_time, $firstname, $lastname)
{
    $query = "SELECT length FROM shift WHERE from_time='$start_time'";
    $res = mysqli_query($con, $query);
    $num_lengths = mysqli_num_rows($res);
    if ($num_lengths > 1) {
        echo '<h4><center>But there are multiple shift length at this start time!!</center></h4>';
        $i = 0;
        while ($row = mysqli_fetch_assoc($res)) {
            $i = $i + 1;
            echo '<center><br><br>option ' . $i . ':  ' . $row['length'] . 'hrs <br></center>';
        }
        echo '<br><br><center>Which shift length? Please specify!</center>';
    } else {
        $shift_length = mysqli_fetch_assoc($res)['length'];

        $query = "INSERT INTO schedule (date, empid, dept, start_time, shift_length) VALUES
                      ('$date',
                       '$empid',
                       '$dept',
                       '$start_time',
                        $shift_length)";
        echo '<center>SQL Query: ' . $query . '</center>';
        $result = mysqli_query($con, $query);
        if (!($result)) {
            $msg = 'MySQL error #' . mysqli_connect_errno() . ": " . mysqli_connect_error();
            printf($msg, __FILE__, __LINE__);
        } else {
            echo '<br><br><h4><center>Employee <i>' . $firstname . ' ' . $lastname . '</i> is scheduled on ' . $date . ' starting from ' . $start_time . ' for ' . $shift_length . ' hours in ' . $dept . '</center></h4>';
        }
    }
}


function schedule($con, $dept, $date, $empid, $start_time)
{
    $date = convert_date_format($date);

    $query = "SELECT firstname, lastname
                  FROM employees
                  WHERE empid = '$empid'";
    $result = mysqli_query($con, $query);

    if (0 == mysqli_num_rows($result)) {
        echo '<br><br><h4 style="color: red"><center>No Employee <i>' . $empid . '</i> in the database! Please double check!</center></h4>';
    } else {
        $row = mysqli_fetch_assoc($result);
        $firstname = $row['firstname'];
        $lastname = $row['lastname'];

        $query = "SELECT *
                FROM schedule
                WHERE empid='$empid'
                AND date='$date'";

        $result = mysqli_query($con, $query);
        if (!($result)) {
            $msg = 'MySQL error #' . mysqli_connect_errno() . ": " . mysqli_connect_error();
            printf($msg, __FILE__, __LINE__);
        } else if (0 == mysqli_num_rows($result)) {
            $query = "SELECT *
                        FROM dayoff
                        WHERE empid='$empid'
                        AND date='$date'";
            $result = mysqli_query($con, $query);
            if (0 == mysqli_num_rows($result))
            {
                echo '<br>
                    <h4><center><i>' . $firstname . ' ' . $lastname . '</i> is open for schedule on ' . $date . ' starting from ' . $start_time . ' in ' . $dept . ' </center></h4><br>';

                insert($con, $dept, $date, $empid, $start_time, $firstname, $lastname);
            }else{
                echo '<br>
                    <h4><center><i>' . $firstname . ' ' . $lastname . '</i> can not be scheduled because a day off on ' . $date . ' has already been requested. </center></h4><br>';

            }


        } else {

            echo "<br><br>";
            echo "<h4 style='color: red'><center>Employee <i>" . $firstname . " " . $lastname . "</i> has already been scheduled on $date:</center></h4><br><br>";

            echo "<table class='table table-striped' border=1>";
            echo "<tr>";
            $i = 0;
            while ($i < mysqli_num_fields($result)) {
                $meta = mysqli_fetch_field_direct($result, $i);
                echo '<td>' . $meta->name . '</td>';
                $i = $i + 1;
            }

            while ($row = mysqli_fetch_assoc($result)) {
                echo "<tr>\n";
                foreach ($row as $cell) {
                    echo "<td> $cell </td>";
                }
                echo "</tr>\n";
            }

            echo "</table><br><br><br>";
        }
    }


}


function unschedule($con, $dept, $date, $empid)
{
    $date = convert_date_format($date);

    $query = "SELECT firstname, lastname
                  FROM employees
                  WHERE empid = '$empid'";
    $result = mysqli_query($con, $query);

    if (0 == mysqli_num_rows($result)) {
        echo '<br><br>
                    <h4 style="color: red"><center>No Employee <i>' . $empid . '</i> in the database! Please double check!</center></h4>';
    } else {
        $row = mysqli_fetch_assoc($result);

        $firstname = $row['firstname'];
        $lastname = $row['lastname'];


        $query = "SELECT *
                FROM schedule
                WHERE empid='$empid'
                AND date='$date'
                AND dept='$dept'";
        if (0 == mysqli_num_rows(mysqli_query($con, $query))) {

            echo '<br><br><center><h4 style="color: red">Employee <i>' . $firstname . ' ' . $lastname . '</i> has not been scheduled, please double check!!</h4></center><br>';
        } else {
            $query = "DELETE FROM schedule WHERE dept='$dept' AND date='$date' AND empid='$empid'";
            $result = mysqli_query($con, $query);
            if ($result) {
                echo '<center><h4>Employee <i>' . $firstname . ' ' . $lastname . '</i> is successfully unscheduled on ' . $date . ' in the ' . $dept . ' department.</h4></center><br><br>';
            }
        }
    }
}


function request_day_off($con, $empid, $date)
{
    $date = convert_date_format($date);

    $query = "SELECT firstname, lastname
                  FROM employees
                  WHERE empid = '$empid'";
    $result = mysqli_query($con, $query);

    if (0 == mysqli_num_rows($result)) {
        echo '<br><br><h4 style="color: red"><center>No Employee <i>' . $empid . '</i> in the database! Please double check!</center></h4>';
    } else {
        $row = mysqli_fetch_assoc($result);
        $firstname = $row['firstname'];
        $lastname = $row['lastname'];

        $query = "SELECT *
                FROM schedule
                WHERE empid='$empid'
                AND date='$date'";
        if (0 == mysqli_num_rows(mysqli_query($con, $query))) {

            $query = "SELECT *
                FROM dayoff
                WHERE empid='$empid'
                AND date='$date'";
            if (0 != mysqli_num_rows(mysqli_query($con, $query))) {
                echo '<br><h4><center><i>' . $firstname . ' ' . $lastname . '</i> has already requested the day off on ' . $date . ' </center></h4><br><br>';
            } else {
                echo '<br><h4><center><i>' . $firstname . ' ' . $lastname . '</i> is able to request a day off on ' . $date . ' </center></h4><br><br>';

                $request = "INSERT INTO dayoff (empid, date) VALUES ('$empid', '$date')";
                $result = mysqli_query($con, $request);
                if (!($result)) {
                    $msg = 'MySQL error #' . mysqli_connect_errno() . ": " . mysqli_connect_error();
                    printf($msg, __FILE__, __LINE__);
                } else {
                    echo "<center><h4>$date off for $firstname $lastname successfully requested!</h4></center><br><br>";
                }
            }

        } else {
            echo '<br><h4><center><i>' . $firstname . ' ' . $lastname . '</i> has already been scheduled and is not able to request a day off on ' . $date . '  </center></h4><br>';

            $query = "SELECT *
                FROM schedule
                WHERE empid='$empid'
                AND date='$date'";

            $result = mysqli_query($con, $query);

            echo "<table class='table table-striped' border=1>";
            echo "<tr>";
            $i = 0;
            while ($i < mysqli_num_fields($result)) {
                $meta = mysqli_fetch_field_direct($result, $i);
                echo '<td>' . $meta->name . '</td>';
                $i = $i + 1;
            }

            while ($row = mysqli_fetch_assoc($result)) {
                echo "<tr>\n";
                foreach ($row as $cell) {
                    echo "<td> $cell </td>";
                }
                echo "</tr>\n";
            }

            echo "</table><br><br><br>";
        }
    }
}


function test_cases($con)
{
    $dept_arr = array('EMERGENCY', 'PEDIATRICS', 'RADIOLOGY', 'ONCOLOGY');
    $empid_arr = array('853537', '854480', '878397', '898057', '945540', '995636', '123456');
    $date_arr = array('10-01-2018', '10-03-2018', '09-24-2018', '09-28-2018', '09-30-2018', '10-03-2018');
    $start_time_arr = array('07:00:00', '19:00:00', '15:00:00', '23:00:00');

    $num_tests = 5;
    $i = 0;

    # test schedule:
    while ($i < $num_tests) {
        $i = $i + 1;
        echo '<h3 style="margin-left: 20%">Test  ' . $i . ':</h3><br><br>';

        echo '<br><br><br><h4 style="margin-left: 25%">Request A Day Off Case ' . $i . ':</h4><br><br>';

        $dept = $dept_arr[array_rand($dept_arr, 1)];
        $date = $date_arr[array_rand($date_arr, 1)];
        $empid = $empid_arr[array_rand($empid_arr, 1)];

        echo '<center>EmployeeID: '.$empid.'<br><br>Date: '.$date.'<br><br></center>';

        request_day_off($con, $empid, $date);

        echo '<h4 style="margin-left: 25%">Schedule Case ' . $i . ':</h4><br><br>';

        $dept = $dept_arr[array_rand($dept_arr, 1)];
        $date = $date_arr[array_rand($date_arr, 1)];
        $empid = $empid_arr[array_rand($empid_arr, 1)];
        $start_time = $start_time_arr[array_rand($start_time_arr, 1)];



        echo '<center>Department: '.$dept.'<br><br>Date: '.$date.'<br><br>EmployeeID: '.$empid.'<br><br>StartTime: '.$start_time.'<br><br></center>';

        schedule($con, $dept, $date, $empid, $start_time);

        echo '<br><br><br><h4 style="margin-left: 25%">Unschedule Case ' . $i . ':</h4><br><br>';

        $dept = $dept_arr[array_rand($dept_arr, 1)];
        $date = $date_arr[array_rand($date_arr, 1)];
        $empid = $empid_arr[array_rand($empid_arr, 1)];

        echo '<center>Department: '.$dept.'<br><br>Date: '.$date.'<br><br>EmployeeID: '.$empid.'<br><br>StartTime: '.$start_time.'<br><br></center>';

        unschedule($con, $dept, $date, $empid);


    }
}

test_cases($con);

### ER Diagram

![](1.png)

### Show and Describe Tables [click for demo](http://cs431project-jxy225.herokuapp.com/view/main.php)

#### php code

In [ ]:
function showTables($con)
{
    $query = "SHOW TABLES";
    $result = mysqli_query($con, $query);

    echo "<div style='margin-left: 30%; margin-right: auto'><h3>Show Tables:</h3></div>";

    while ($row = mysqli_fetch_assoc($result)) {
        foreach ($row as $table) {
            echo "<center><h4>$table</h4></center>";
            describeTable($con, $table);
            echo "<br>";
        }
    }
}


function describeTable($con, $table)
{
    $query = "DESCRIBE $table";
    $result = mysqli_query($con, $query);

    echo "<table class='table table-striped' style='text-align: center' border=1>";

    while($row = mysqli_fetch_array($result)) {
        echo "<tr>\n";
        echo "<td>{$row['Field']} - {$row['Type']}</td>";
        echo "</tr>\n";
    }
    echo "</table>";
}


showTables($con);

![](2.png)

### Test cases(randomly schedule employees) [click for demo](http://cs431project-jxy225.herokuapp.com/view/test.php)

#### display test results

__Schedule Someone__

   \noindent 	\textbf{Case 1: Try to schedule someone who has already been scheduled and  unschedule someone who has not been scheduled.}
   
   \begin{figure}[H]
   		\centering
   		\includegraphics{../hw9/4.png}
   		\caption{}
   	\end{figure}
    
    
   \begin{figure}[H]
   		\centering
   		\includegraphics{../hw9/6.png}
   		\caption{}
   	\end{figure}
   	
   \noindent 	\textbf{Case 2: Successfully schedule someone and unschedule someone who has not been scheduled.}
   
   \begin{figure}[H]
   		\centering
   		\includegraphics{../hw9/5.png}
   		\caption{}
   	\end{figure}
    
    
   	
   \noindent 	\textbf{Case 3: Try to schedule someone who is not in the system and  unschedule someone who has not been scheduled.}
   
   \begin{figure}[H]
   		\centering
   		\includegraphics{../hw9/7.png}
   		\caption{}
   	\end{figure}
   
   \noindent 	\textbf{Case 4: Try to schedule someone who has already been scheduled and  successfully unschedule someone.}
   
   \begin{figure}[H]
   		\centering
   		\includegraphics{../hw9/8.png}
   		\caption{}
   	\end{figure}

__Request a Day Off__
   	
   \noindent 	\textbf{Case 1: Successfully request a day off.}
   
   \begin{figure}[H]
   		\centering
   		\includegraphics{4.png}
   		\caption{}
   	\end{figure}
    
   
   \noindent 	\textbf{Case 2: Fail to request a day off because the employee has already been scheduled.}
   
   \begin{figure}[H]
   		\centering
   		\includegraphics{5.png}
   		\caption{}
   	\end{figure}
    
    
   	
   \noindent 	\textbf{Case 3: Fail to request a day off because the employee is not in the system.}
   
   \begin{figure}[H]
   		\centering
   		\includegraphics{6.png}
   		\caption{}
   	\end{figure}

### Salary Report [click for demo](https://cs431project-jxy225.herokuapp.com/view/salary_report_display.php)

#### php code

In [3]:
<?php require_once ('navbar.php') ;
      require_once ('../connect/connect.php');
?>

<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">

<?php
//$query = "
//    SELECT DEPARTMENT,
//  EMPLOYEE_TYPE,
//  CONCAT(DATE_FORMAT(START_TIME, '%I%p'),
//         '-',
//         DATE_FORMAT(END_TIME, '%I%p')) AS SHIFT,
//  CONCAT('$', SUM(EACH_COST)) AS COST FROM
//  (SELECT s.dept AS DEPARTMENT, e.empid as EMPLOYEEID,
//          IF(LENGTH(e.emptype)=0, 'NA', e.emptype) AS EMPLOYEE_TYPE,
//          s.start_time AS START_TIME, s.shift_length AS SHIFT_LEN, sh.end_time AS END_TIME,
//          IF(s.start_time>'16:00:00' OR (s.start_time>'12:00:00' AND s.shift_length=12),
//             s.shift_length*120, s.shift_length*100) AS EACH_COST
//   FROM schedule AS s, employees AS e, shift AS sh
//   WHERE s.empid = e.empid
//   AND s.start_time=sh.from_time
//   AND s.shift_length = sh.length
//   ORDER BY s.start_time) AS tmp
//GROUP BY DEPARTMENT, EMPLOYEE_TYPE, SHIFT
//ORDER BY DEPARTMENT, EMPLOYEE_TYPE, START_TIME, END_TIME
//";
$query = "
   SELECT DEPARTMENT,
  EMPLOYEE_TYPE,
  CONCAT(DATE_FORMAT(START_TIME, '%I%p'),
         '-',
         DATE_FORMAT(DATE_ADD(START_TIME, INTERVAL SHIFT_LEN HOUR), '%I%p')) AS SHIFT,
  CONCAT('$', SUM(EACH_COST)) AS COST FROM
  (SELECT s.dept AS DEPARTMENT, e.empid as EMPLOYEEID,
           IF(LENGTH(e.emptype)=0, 'NA', e.emptype) AS EMPLOYEE_TYPE,
           s.start_time AS START_TIME, s.shift_length AS SHIFT_LEN,
           IF(s.start_time>'16:00:00' OR (s.start_time>'12:00:00' AND s.shift_length=12),
              s.shift_length*120, s.shift_length*100) AS EACH_COST
    FROM schedule AS s, employees AS e
    WHERE s.empid = e.empid
    ORDER BY s.start_time) AS tmp
GROUP BY DEPARTMENT, EMPLOYEE_TYPE, SHIFT
ORDER BY DEPARTMENT, EMPLOYEE_TYPE, START_TIME, DATE_ADD(START_TIME, INTERVAL SHIFT_LEN HOUR)
";

$result = mysqli_query($con, $query);

echo "<center><h2>Salary Report</h2></center>";
echo "<br><table class='table table-striped' border=1>";
echo "<tr>";
$i = 0;
while ($i < mysqli_num_fields($result)) {
    $meta = mysqli_fetch_field_direct($result, $i);
    echo '<td>' . $meta->name . '</td>';
    $i = $i + 1;
}

while ($row = mysqli_fetch_assoc($result)) {
    echo "<tr>\n";
    foreach ($row as $cell) {
        echo "<td> $cell </td>";
    }
    echo "</tr>\n";
}

echo "</table><br><br><br>";